<div *ngIf="member">
  <h2>{{member.firstName}}'s Wish List</h2>
  
  <!-- I don't think we want member.id visible to users, and being able to change one's firstName doesn't seem relevant. -->
  
  <!-- <div><span>id: </span>{{member.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="member.firstName" placeholder="First Name">
    </label>
  </div> -->

  <!-- This pulled the gifts from the pseudo member data (from the in-memory-data.service component used for testing purposes). -->
  <!-- <div><span>Gift #1: </span>{{member.giftName1}}</div> -->

  <!--This uses <app-gifts> to point to the gifts component. -->
  <div><span>Gift List: </span>
    <app-gifts></app-gifts>
  </div>

</div>
<button (click)="goBack()">Go Back</button>
<button (click)="save()">Save</button>