<h2>Sign Up Here</h2>

<div>
  <label>
    <input type="text" name="firstName" placeholder="First Name">
  </label>
  <br>
  <label>
    <input type="text" name="lastName" placeholder="Last Name">
  </label>
  <br>
  <label>
    <input type="text" name="userName" placeholder="Username">
  </label>
  <br>
  <label>
    <input type="text" name="password" placeholder="Password">
  </label>
  <br>
  <button (click)="register()">Sign Up</button>
</div>

<button (click)="goBack()">Back to Login</button>